#include "stm32mp135d-altair-base.dts"

/ {
	model = "Altair::Main Processor Unit of Avionics - UMi";
	compatible = "st,stm32mp135d-altair-mx", "st,stm32mp135";

	aliases {
		serial0 = &uart4;
		ethernet0 = &eth1;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";

		framebuffer {
			compatible = "simple-framebuffer";
			clocks = <&rcc LTDC_PX>;
			status = "disabled";
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		optee_framebuffer@dd000000 {
			reg = <0xdd000000 0x1000000>;
			no-map;
		};

		optee@de000000 {
			reg = <0xde000000 0x2000000>;
			no-map;
		};
	};

};
