/ {
	aliases {
		serial0 = &uart4;
		ethernet0 = &eth1;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		optee_framebuffer@dd000000 {
			reg = <0xdd000000 0x1000000>;
			no-map;
		};

		optee@de000000 {
			reg = <0xde000000 0x2000000>;
			no-map;
		};
	};
};

&scmi_regu {
	scmi_v3v3: voltd-v3v3 {
		voltd-name = "v3v3";
		regulator-name = "v3v3";
	};
	scmi_vdd: voltd-vdd {
		voltd-name = "vdd";
		regulator-name = "vdd";
	};
	scmi_vdd_ddr: voltd-vdd_ddr {
		voltd-name = "vdd_ddr";
		regulator-name = "vdd_ddr";
	};
	scmi_vddcore: voltd-vddcore {
		voltd-name = "vddcore";
		regulator-name = "vddcore";
	};
	scmi_vdd_usb: voltd-vdd_usb {
		voltd-name = "vdd_usb";
		regulator-name = "vdd_usb";
	};
};

&usbotg_hs {
	dr_mode = "peripheral";
};

&usbphyc_port0 {
	phy-supply = <&scmi_vdd_usb>;
};

&usbphyc_port1 {
	phy-supply = <&scmi_vdd_usb>;
};

&vdd_usb {
	u-boot,dm-pre-reloc;
};
