// SPDX-License-Identifier: (GPL-2.0-or-later OR BSD-3-Clause)
/*
 * Copyright (C) 2024, STMicroelectronics - All Rights Reserved
 * Author: STM32CubeMX code generation for STMicroelectronics.
 */

/* For more information on Device Tree configuration, please refer to
 * https://wiki.st.com/stm32mpu/wiki/Category:Device_tree_configuration
 */

/dts-v1/;
#include <dt-bindings/pinctrl/stm32-pinfunc.h>

#include "stm32mp135.dtsi"
#include "stm32mp13xd.dtsi"

/* USER CODE BEGIN includes */
/* USER CODE END includes */

/ {
	model = "Altair :: Main Processor Unit of Avionics - UMi";
	compatible = "st,stm32mp135d-altair-mx", "st,stm32mp135";

	memory@c0000000 {
		device_type = "memory";
		reg = <0xc0000000 0x20000000>;

		/* USER CODE BEGIN memory */
		/* USER CODE END memory */
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		/* USER CODE BEGIN reserved-memory */
		optee_framebuffer@dd000000 {
			reg = <0xdd000000 0x1000000>;
			no-map;
		};

		optee@de000000 {
			reg = <0xde000000 0x2000000>;
			no-map;
		};
		/* USER CODE END reserved-memory */
	};

	/* USER CODE BEGIN root */
	aliases {
		serial0 = &uart4;
		serial1 = &uart5;
		serial2 = &uart7;
		serial3 = &uart8;
		serial4 = &usart1;
		serial5 = &usart2;
		serial6 = &usart3;
		ethernet0 = &eth1;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";
	};

	vdd1v8: vdd1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vdd1v8";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vddmmc: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vddmmc";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vdd_usb: vdd_usb {
		compatible = "regulator-fixed";
		regulator-name = "vdd_usb";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
	};
	/* USER CODE END root */

	clocks{

		/* USER CODE BEGIN clocks */
		/* USER CODE END clocks */
	};

}; /*root*/

&pinctrl {

	adc1_pins_mx: adc1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 0, ANALOG)>, /* ADC1_INP7 */
					 <STM32_PINMUX('A', 1, ANALOG)>, /* ADC1_INP3 */
					 <STM32_PINMUX('A', 2, ANALOG)>, /* ADC1_INP1 */
					 <STM32_PINMUX('A', 4, ANALOG)>, /* ADC1_INP14 */
					 <STM32_PINMUX('A', 5, ANALOG)>, /* ADC1_INP2 */
					 <STM32_PINMUX('B', 1, ANALOG)>, /* ADC1_INP5 */
					 <STM32_PINMUX('C', 0, ANALOG)>, /* ADC1_INP0 */
					 <STM32_PINMUX('C', 5, ANALOG)>, /* ADC1_INP10 */
					 <STM32_PINMUX('F', 11, ANALOG)>, /* ADC1_INP8 */
					 <STM32_PINMUX('F', 12, ANALOG)>, /* ADC1_INP6 */
					 <STM32_PINMUX('F', 13, ANALOG)>; /* ADC1_INP11 */
		};
	};

	adc1_sleep_pins_mx: adc1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 0, ANALOG)>, /* ADC1_INP7 */
					 <STM32_PINMUX('A', 1, ANALOG)>, /* ADC1_INP3 */
					 <STM32_PINMUX('A', 2, ANALOG)>, /* ADC1_INP1 */
					 <STM32_PINMUX('A', 4, ANALOG)>, /* ADC1_INP14 */
					 <STM32_PINMUX('A', 5, ANALOG)>, /* ADC1_INP2 */
					 <STM32_PINMUX('B', 1, ANALOG)>, /* ADC1_INP5 */
					 <STM32_PINMUX('C', 0, ANALOG)>, /* ADC1_INP0 */
					 <STM32_PINMUX('C', 5, ANALOG)>, /* ADC1_INP10 */
					 <STM32_PINMUX('F', 11, ANALOG)>, /* ADC1_INP8 */
					 <STM32_PINMUX('F', 12, ANALOG)>, /* ADC1_INP6 */
					 <STM32_PINMUX('F', 13, ANALOG)>; /* ADC1_INP11 */
		};
	};

	adc2_pins_mx: adc2_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('C', 1, ANALOG)>; /* ADC2_INP2 */
		};
	};

	adc2_sleep_pins_mx: adc2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('C', 1, ANALOG)>; /* ADC2_INP2 */
		};
	};

	i2c1_pins_mx: i2c1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 8, AF4)>, /* I2C1_SCL */
					 <STM32_PINMUX('E', 8, AF5)>; /* I2C1_SDA */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c1_sleep_pins_mx: i2c1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 8, ANALOG)>, /* I2C1_SCL */
					 <STM32_PINMUX('E', 8, ANALOG)>; /* I2C1_SDA */
		};
	};

	i2c2_pins_mx: i2c2_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 2, AF4)>, /* I2C2_SCL */
					 <STM32_PINMUX('G', 3, AF4)>; /* I2C2_SDA */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c2_sleep_pins_mx: i2c2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 2, ANALOG)>, /* I2C2_SCL */
					 <STM32_PINMUX('G', 3, ANALOG)>; /* I2C2_SDA */
		};
	};

	i2c3_pins_mx: i2c3_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('H', 3, AF4)>, /* I2C3_SCL */
					 <STM32_PINMUX('H', 7, AF5)>; /* I2C3_SDA */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c3_sleep_pins_mx: i2c3_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('H', 3, ANALOG)>, /* I2C3_SCL */
					 <STM32_PINMUX('H', 7, ANALOG)>; /* I2C3_SDA */
		};
	};

	i2c5_pins_mx: i2c5_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 1, AF4)>, /* I2C5_SCL */
					 <STM32_PINMUX('H', 6, AF4)>; /* I2C5_SDA */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <0>;
		};
	};

	i2c5_sleep_pins_mx: i2c5_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 1, ANALOG)>, /* I2C5_SCL */
					 <STM32_PINMUX('H', 6, ANALOG)>; /* I2C5_SDA */
		};
	};

	sdmmc1_pins_mx: sdmmc1_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('C', 8, AF12)>, /* SDMMC1_D0 */
					 <STM32_PINMUX('C', 9, AF12)>, /* SDMMC1_D1 */
					 <STM32_PINMUX('C', 10, AF12)>, /* SDMMC1_D2 */
					 <STM32_PINMUX('C', 11, AF12)>, /* SDMMC1_D3 */
					 <STM32_PINMUX('D', 2, AF12)>; /* SDMMC1_CMD */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('C', 12, AF12)>; /* SDMMC1_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc1_opendrain_pins_mx: sdmmc1_opendrain_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('C', 8, AF12)>, /* SDMMC1_D0 */
					 <STM32_PINMUX('C', 9, AF12)>, /* SDMMC1_D1 */
					 <STM32_PINMUX('C', 10, AF12)>, /* SDMMC1_D2 */
					 <STM32_PINMUX('C', 11, AF12)>; /* SDMMC1_D3 */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('C', 12, AF12)>; /* SDMMC1_CK */
			bias-disable;
			drive-push-pull;
			slew-rate = <3>;
		};
		pins3 {
			pinmux = <STM32_PINMUX('D', 2, AF12)>; /* SDMMC1_CMD */
			bias-disable;
			drive-open-drain;
			slew-rate = <1>;
		};
	};

	sdmmc1_sleep_pins_mx: sdmmc1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('C', 8, ANALOG)>, /* SDMMC1_D0 */
					 <STM32_PINMUX('C', 9, ANALOG)>, /* SDMMC1_D1 */
					 <STM32_PINMUX('C', 10, ANALOG)>, /* SDMMC1_D2 */
					 <STM32_PINMUX('C', 11, ANALOG)>, /* SDMMC1_D3 */
					 <STM32_PINMUX('C', 12, ANALOG)>, /* SDMMC1_CK */
					 <STM32_PINMUX('D', 2, ANALOG)>; /* SDMMC1_CMD */
		};
	};

	sdmmc2_pins_mx: sdmmc2_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 3, AF10)>, /* SDMMC2_D2 */
					 <STM32_PINMUX('B', 4, AF10)>, /* SDMMC2_D3 */
					 <STM32_PINMUX('B', 9, AF10)>, /* SDMMC2_D5 */
					 <STM32_PINMUX('B', 14, AF10)>, /* SDMMC2_D0 */
					 <STM32_PINMUX('B', 15, AF10)>, /* SDMMC2_D1 */
					 <STM32_PINMUX('C', 6, AF10)>, /* SDMMC2_D6 */
					 <STM32_PINMUX('C', 7, AF10)>, /* SDMMC2_D7 */
					 <STM32_PINMUX('F', 0, AF10)>, /* SDMMC2_D4 */
					 <STM32_PINMUX('G', 6, AF10)>; /* SDMMC2_CMD */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('E', 3, AF10)>; /* SDMMC2_CK */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <3>;
		};
	};

	sdmmc2_opendrain_pins_mx: sdmmc2_opendrain_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 3, AF10)>, /* SDMMC2_D2 */
					 <STM32_PINMUX('B', 4, AF10)>, /* SDMMC2_D3 */
					 <STM32_PINMUX('B', 9, AF10)>, /* SDMMC2_D5 */
					 <STM32_PINMUX('B', 14, AF10)>, /* SDMMC2_D0 */
					 <STM32_PINMUX('B', 15, AF10)>, /* SDMMC2_D1 */
					 <STM32_PINMUX('C', 6, AF10)>, /* SDMMC2_D6 */
					 <STM32_PINMUX('C', 7, AF10)>, /* SDMMC2_D7 */
					 <STM32_PINMUX('F', 0, AF10)>; /* SDMMC2_D4 */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <1>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('E', 3, AF10)>; /* SDMMC2_CK */
			bias-pull-up;
			drive-push-pull;
			slew-rate = <3>;
		};
		pins3 {
			pinmux = <STM32_PINMUX('G', 6, AF10)>; /* SDMMC2_CMD */
			bias-pull-up;
			drive-open-drain;
			slew-rate = <1>;
		};
	};

	sdmmc2_sleep_pins_mx: sdmmc2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 3, ANALOG)>, /* SDMMC2_D2 */
					 <STM32_PINMUX('B', 4, ANALOG)>, /* SDMMC2_D3 */
					 <STM32_PINMUX('B', 9, ANALOG)>, /* SDMMC2_D5 */
					 <STM32_PINMUX('B', 14, ANALOG)>, /* SDMMC2_D0 */
					 <STM32_PINMUX('B', 15, ANALOG)>, /* SDMMC2_D1 */
					 <STM32_PINMUX('C', 6, ANALOG)>, /* SDMMC2_D6 */
					 <STM32_PINMUX('C', 7, ANALOG)>, /* SDMMC2_D7 */
					 <STM32_PINMUX('E', 3, ANALOG)>, /* SDMMC2_CK */
					 <STM32_PINMUX('F', 0, ANALOG)>, /* SDMMC2_D4 */
					 <STM32_PINMUX('G', 6, ANALOG)>; /* SDMMC2_CMD */
		};
	};

	spi1_pins_mx: spi1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 3, AF5)>, /* SPI1_MOSI */
					 <STM32_PINMUX('A', 6, AF5)>, /* SPI1_MISO */
					 <STM32_PINMUX('A', 7, AF5)>, /* SPI1_SCK */
					 <STM32_PINMUX('C', 2, AF5)>; /* SPI1_NSS */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi1_sleep_pins_mx: spi1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 3, ANALOG)>, /* SPI1_MOSI */
					 <STM32_PINMUX('A', 6, ANALOG)>, /* SPI1_MISO */
					 <STM32_PINMUX('A', 7, ANALOG)>, /* SPI1_SCK */
					 <STM32_PINMUX('C', 2, ANALOG)>; /* SPI1_NSS */
		};
	};

	spi2_pins_mx: spi2_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 10, AF6)>, /* SPI2_SCK */
					 <STM32_PINMUX('B', 13, AF5)>, /* SPI2_NSS */
					 <STM32_PINMUX('G', 1, AF5)>, /* SPI2_MISO */
					 <STM32_PINMUX('H', 10, AF6)>; /* SPI2_MOSI */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi2_sleep_pins_mx: spi2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 10, ANALOG)>, /* SPI2_SCK */
					 <STM32_PINMUX('B', 13, ANALOG)>, /* SPI2_NSS */
					 <STM32_PINMUX('G', 1, ANALOG)>, /* SPI2_MISO */
					 <STM32_PINMUX('H', 10, ANALOG)>; /* SPI2_MOSI */
		};
	};

	spi3_pins_mx: spi3_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 1, AF5)>, /* SPI3_MOSI */
					 <STM32_PINMUX('F', 3, AF6)>, /* SPI3_NSS */
					 <STM32_PINMUX('G', 7, AF5)>, /* SPI3_MISO */
					 <STM32_PINMUX('H', 13, AF6)>; /* SPI3_SCK */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi3_sleep_pins_mx: spi3_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('F', 1, ANALOG)>, /* SPI3_MOSI */
					 <STM32_PINMUX('F', 3, ANALOG)>, /* SPI3_NSS */
					 <STM32_PINMUX('G', 7, ANALOG)>, /* SPI3_MISO */
					 <STM32_PINMUX('H', 13, ANALOG)>; /* SPI3_SCK */
		};
	};

	spi4_pins_mx: spi4_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 10, AF5)>, /* SPI4_NSS */
					 <STM32_PINMUX('E', 11, AF5)>, /* SPI4_MOSI */
					 <STM32_PINMUX('E', 12, AF5)>, /* SPI4_SCK */
					 <STM32_PINMUX('E', 13, AF5)>; /* SPI4_MISO */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi4_sleep_pins_mx: spi4_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 10, ANALOG)>, /* SPI4_NSS */
					 <STM32_PINMUX('E', 11, ANALOG)>, /* SPI4_MOSI */
					 <STM32_PINMUX('E', 12, ANALOG)>, /* SPI4_SCK */
					 <STM32_PINMUX('E', 13, ANALOG)>; /* SPI4_MISO */
		};
	};

	spi5_pins_mx: spi5_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 2, AF5)>, /* SPI5_MOSI */
					 <STM32_PINMUX('E', 4, AF1)>, /* SPI5_MISO */
					 <STM32_PINMUX('F', 6, AF5)>, /* SPI5_NSS */
					 <STM32_PINMUX('G', 10, AF5)>; /* SPI5_SCK */
			bias-disable;
			drive-push-pull;
			slew-rate = <1>;
		};
	};

	spi5_sleep_pins_mx: spi5_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 2, ANALOG)>, /* SPI5_MOSI */
					 <STM32_PINMUX('E', 4, ANALOG)>, /* SPI5_MISO */
					 <STM32_PINMUX('F', 6, ANALOG)>, /* SPI5_NSS */
					 <STM32_PINMUX('G', 10, ANALOG)>; /* SPI5_SCK */
		};
	};

	tim1_pins_mx: tim1_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 9, AF1)>, /* TIM1_CH2 */
					 <STM32_PINMUX('E', 9, AF1)>; /* TIM1_CH1 */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	tim1_sleep_pins_mx: tim1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 9, ANALOG)>, /* TIM1_CH2 */
					 <STM32_PINMUX('E', 9, ANALOG)>; /* TIM1_CH1 */
		};
	};

	tim2_pins_mx: tim2_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 15, AF1)>; /* TIM2_CH1 */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	tim2_sleep_pins_mx: tim2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 15, ANALOG)>; /* TIM2_CH1 */
		};
	};

	tim4_pins_mx: tim4_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 7, AF2)>; /* TIM4_CH2 */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	tim4_sleep_pins_mx: tim4_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 7, ANALOG)>; /* TIM4_CH2 */
		};
	};

	tim8_pins_mx: tim8_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 5, AF3)>; /* TIM8_CH3 */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	tim8_sleep_pins_mx: tim8_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('E', 5, ANALOG)>; /* TIM8_CH3 */
		};
	};

	uart4_pins_mx: uart4_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('D', 6, AF8)>; /* UART4_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('D', 8, AF8)>; /* UART4_RX */
			bias-disable;
		};
	};

	uart4_sleep_pins_mx: uart4_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 6, ANALOG)>, /* UART4_TX */
					 <STM32_PINMUX('D', 8, ANALOG)>; /* UART4_RX */
		};
	};

	uart5_pins_mx: uart5_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 5, AF11)>, /* UART5_RX */
					 <STM32_PINMUX('C', 3, AF8)>; /* UART5_CTS */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('C', 4, AF8)>, /* UART5_RTS */
					 <STM32_PINMUX('E', 7, AF8)>; /* UART5_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	uart5_sleep_pins_mx: uart5_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 5, ANALOG)>, /* UART5_RX */
					 <STM32_PINMUX('C', 3, ANALOG)>, /* UART5_CTS */
					 <STM32_PINMUX('C', 4, ANALOG)>, /* UART5_RTS */
					 <STM32_PINMUX('E', 7, ANALOG)>; /* UART5_TX */
		};
	};

	uart7_pins_mx: uart7_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 12, AF7)>, /* UART7_RTS */
					 <STM32_PINMUX('H', 2, AF8)>; /* UART7_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('E', 10, AF7)>, /* UART7_RX */
					 <STM32_PINMUX('G', 15, AF8)>; /* UART7_CTS */
			bias-disable;
		};
	};

	uart7_sleep_pins_mx: uart7_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 12, ANALOG)>, /* UART7_RTS */
					 <STM32_PINMUX('E', 10, ANALOG)>, /* UART7_RX */
					 <STM32_PINMUX('G', 15, ANALOG)>, /* UART7_CTS */
					 <STM32_PINMUX('H', 2, ANALOG)>; /* UART7_TX */
		};
	};

	uart8_pins_mx: uart8_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('D', 14, AF8)>, /* UART8_CTS */
					 <STM32_PINMUX('E', 0, AF8)>; /* UART8_RX */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('E', 1, AF8)>, /* UART8_TX */
					 <STM32_PINMUX('E', 14, AF8)>; /* UART8_RTS */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	uart8_sleep_pins_mx: uart8_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 14, ANALOG)>, /* UART8_CTS */
					 <STM32_PINMUX('E', 0, ANALOG)>, /* UART8_RX */
					 <STM32_PINMUX('E', 1, ANALOG)>, /* UART8_TX */
					 <STM32_PINMUX('E', 14, ANALOG)>; /* UART8_RTS */
		};
	};

	usart1_pins_mx: usart1_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 11, AF7)>, /* USART1_CTS */
					 <STM32_PINMUX('B', 0, AF4)>; /* USART1_RX */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('A', 12, AF7)>, /* USART1_RTS */
					 <STM32_PINMUX('B', 6, AF4)>; /* USART1_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart1_sleep_pins_mx: usart1_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 11, ANALOG)>, /* USART1_CTS */
					 <STM32_PINMUX('A', 12, ANALOG)>, /* USART1_RTS */
					 <STM32_PINMUX('B', 0, ANALOG)>, /* USART1_RX */
					 <STM32_PINMUX('B', 6, ANALOG)>; /* USART1_TX */
		};
	};

	usart2_pins_mx: usart2_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('D', 3, AF3)>, /* USART2_CTS */
					 <STM32_PINMUX('D', 15, AF1)>; /* USART2_RX */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('D', 4, AF3)>, /* USART2_RTS */
					 <STM32_PINMUX('H', 12, AF1)>; /* USART2_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart2_sleep_pins_mx: usart2_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('D', 3, ANALOG)>, /* USART2_CTS */
					 <STM32_PINMUX('D', 4, ANALOG)>, /* USART2_RTS */
					 <STM32_PINMUX('D', 15, ANALOG)>, /* USART2_RX */
					 <STM32_PINMUX('H', 12, ANALOG)>; /* USART2_TX */
		};
	};

	usart3_pins_mx: usart3_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('B', 11, AF7)>, /* USART3_RX */
					 <STM32_PINMUX('D', 11, AF7)>; /* USART3_CTS */
			bias-disable;
		};
		pins2 {
			pinmux = <STM32_PINMUX('D', 12, AF7)>, /* USART3_RTS */
					 <STM32_PINMUX('G', 11, AF7)>; /* USART3_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
	};

	usart3_sleep_pins_mx: usart3_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('B', 11, ANALOG)>, /* USART3_RX */
					 <STM32_PINMUX('D', 11, ANALOG)>, /* USART3_CTS */
					 <STM32_PINMUX('D', 12, ANALOG)>, /* USART3_RTS */
					 <STM32_PINMUX('G', 11, ANALOG)>; /* USART3_TX */
		};
	};

	usart6_pins_mx: usart6_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('G', 12, AF7)>, /* USART6_RTS */
					 <STM32_PINMUX('G', 14, AF7)>; /* USART6_TX */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('G', 13, AF7)>, /* USART6_CTS */
					 <STM32_PINMUX('H', 11, AF7)>; /* USART6_RX */
			bias-disable;
		};
	};

	usart6_sleep_pins_mx: usart6_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('G', 12, ANALOG)>, /* USART6_RTS */
					 <STM32_PINMUX('G', 13, ANALOG)>, /* USART6_CTS */
					 <STM32_PINMUX('G', 14, ANALOG)>, /* USART6_TX */
					 <STM32_PINMUX('H', 11, ANALOG)>; /* USART6_RX */
		};
	};

	usb_otg_hs_pins_mx: usb_otg_hs_mx-0 {
		pins1 {
			pinmux = <STM32_PINMUX('A', 8, AF10)>; /* USB_OTG_HS_SOF */
			bias-disable;
			drive-push-pull;
			slew-rate = <0>;
		};
		pins2 {
			pinmux = <STM32_PINMUX('I', 7, ANALOG)>; /* USB_OTG_HS_VBUS */
		};
	};

	usb_otg_hs_sleep_pins_mx: usb_otg_hs_sleep_mx-0 {
		pins {
			pinmux = <STM32_PINMUX('A', 8, ANALOG)>, /* USB_OTG_HS_SOF */
					 <STM32_PINMUX('I', 7, ANALOG)>; /* USB_OTG_HS_VBUS */
		};
	};

	/* USER CODE BEGIN pinctrl */
	/* USER CODE END pinctrl */
};

&adc_1{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&adc1_pins_mx>;
	pinctrl-1 = <&adc1_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN adc_1 */
	/* USER CODE END adc_1 */
};

&adc_2{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&adc2_pins_mx>;
	pinctrl-1 = <&adc2_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN adc_2 */
	/* USER CODE END adc_2 */
};

&bsec{
	status = "okay";

	/* USER CODE BEGIN bsec */
	/* USER CODE END bsec */
};

&crc1{
	status = "okay";

	/* USER CODE BEGIN crc1 */
	/* USER CODE END crc1 */
};

&dmamux1{
	status = "okay";

	/* !!! log : Warning - No dma master found  !!! */

	/* USER CODE BEGIN dmamux1 */
	/* USER CODE END dmamux1 */
};

&hash{
	status = "okay";

	/* USER CODE BEGIN hash */
	/* USER CODE END hash */
};

&i2c1{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c1_pins_mx>;
	pinctrl-1 = <&i2c1_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN i2c1 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END i2c1 */
};

&i2c2{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c2_pins_mx>;
	pinctrl-1 = <&i2c2_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN i2c2 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END i2c2 */
};

&i2c3{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c3_pins_mx>;
	pinctrl-1 = <&i2c3_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN i2c3 */
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <300>;
	clock-frequency = <100000>;

	/delete-property/dmas;
	/delete-property/dma-names;

	at24@50 {
		compatible = "atmel,24c32";
		pagesize = <64>;
		reg = <0x50>;
	};
	/* USER CODE END i2c3 */
};

&i2c5{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c5_pins_mx>;
	pinctrl-1 = <&i2c5_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN i2c5 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END i2c5 */
};

&iwdg2{
	status = "okay";

	/* USER CODE BEGIN iwdg2 */
	timeout-sec = <32>;
	/* USER CODE END iwdg2 */
};

&mdma{
	status = "okay";

	/* USER CODE BEGIN mdma */
	/* USER CODE END mdma */
};

&rcc{
	status = "okay";

	/* USER CODE BEGIN rcc */
	/* USER CODE END rcc */
};

&rtc{
	status = "okay";

	/* USER CODE BEGIN rtc */
	/* USER CODE END rtc */
};

&sdmmc1{
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc1_pins_mx>;
	pinctrl-1 = <&sdmmc1_opendrain_pins_mx>;
	pinctrl-2 = <&sdmmc1_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN sdmmc1 */
	/* USER CODE END sdmmc1 */
};

&sdmmc2{
	pinctrl-names = "default", "opendrain", "sleep";
	pinctrl-0 = <&sdmmc2_pins_mx>;
	pinctrl-1 = <&sdmmc2_opendrain_pins_mx>;
	pinctrl-2 = <&sdmmc2_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN sdmmc2 */
	arm,primecell-periphid = <0x10153180>;
	non-removable;
	no-sd;
	no-sdio;
	st,neg-edge;
	bus-width = <8>;
	vmmc-supply = <&vddmmc>;
	vqmmc-supply = <&vdd1v8>;
	#address-cells = <1>;
	#size-cells = <0>;
	/* USER CODE END sdmmc2 */
};

&spi1{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi1_pins_mx>;
	pinctrl-1 = <&spi1_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN spi1 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END spi1 */
};

&spi2{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi2_pins_mx>;
	pinctrl-1 = <&spi2_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN spi2 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END spi2 */
};

&spi3{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi3_pins_mx>;
	pinctrl-1 = <&spi3_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN spi3 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END spi3 */
};

&spi4{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi4_pins_mx>;
	pinctrl-1 = <&spi4_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN spi4 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END spi4 */
};

&spi5{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&spi5_pins_mx>;
	pinctrl-1 = <&spi5_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN spi5 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END spi5 */
};

&timers1{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&tim1_pins_mx>;
	pinctrl-1 = <&tim1_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN timers1 */
	/* USER CODE END timers1 */
};

&timers2{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&tim2_pins_mx>;
	pinctrl-1 = <&tim2_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN timers2 */
	/* USER CODE END timers2 */
};

&timers4{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&tim4_pins_mx>;
	pinctrl-1 = <&tim4_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN timers4 */
	/* USER CODE END timers4 */
};

&timers8{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&tim8_pins_mx>;
	pinctrl-1 = <&tim8_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN timers8 */
	/* USER CODE END timers8 */
};

&uart4{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart4_pins_mx>;
	pinctrl-1 = <&uart4_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN uart4 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END uart4 */
};

&uart5{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart5_pins_mx>;
	pinctrl-1 = <&uart5_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN uart5 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END uart5 */
};

&uart7{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart7_pins_mx>;
	pinctrl-1 = <&uart7_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN uart7 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END uart7 */
};

&uart8{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart8_pins_mx>;
	pinctrl-1 = <&uart8_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN uart8 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END uart8 */
};

&usart1{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usart1_pins_mx>;
	pinctrl-1 = <&usart1_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN usart1 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END usart1 */
};

&usart2{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usart2_pins_mx>;
	pinctrl-1 = <&usart2_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN usart2 */
	/* USER CODE END usart2 */
};

&usart3{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usart3_pins_mx>;
	pinctrl-1 = <&usart3_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN usart3 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END usart3 */
};

&usart6{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usart6_pins_mx>;
	pinctrl-1 = <&usart6_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN usart6 */
	/delete-property/dmas;
	/delete-property/dma-names;
	/* USER CODE END usart6 */
};

&usbh_ehci{
	status = "okay";

	/* USER CODE BEGIN usbh_ehci */
	phys = <&usbphyc_port0>;
	/* USER CODE END usbh_ehci */
};

&usbh_ohci{
	status = "okay";

	/* USER CODE BEGIN usbh_ohci */
	/* USER CODE END usbh_ohci */
};

&usbotg_hs{
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&usb_otg_hs_pins_mx>;
	pinctrl-1 = <&usb_otg_hs_sleep_pins_mx>;
	status = "okay";

	/* USER CODE BEGIN usbotg_hs */
	phys = <&usbphyc_port1 0>;
	/* USER CODE END usbotg_hs */
};

&usbphyc{
	status = "okay";

	/* USER CODE BEGIN usbphyc */
	/* USER CODE END usbphyc */
};

&usbphyc_port0{
	status = "okay";

	/* USER CODE BEGIN usbphyc_port0 */
	phy-supply = <&vdd_usb>;
	/* USER CODE END usbphyc_port0 */
};

&usbphyc_port1{
	status = "okay";

	/* USER CODE BEGIN usbphyc_port1 */
	phy-supply = <&vdd_usb>;
	/* USER CODE END usbphyc_port1 */
};

/* USER CODE BEGIN addons */
&vdd_usb {
	u-boot,dm-pre-reloc;
};

&dma1 {
	sram = <&dma_pool>;
};

&dma2 {
	sram = <&dma_pool>;
};

&sram {
	dma_pool: dma-sram@0 {
		reg = <0x0 0x4000>;
		pool;
	};
};
/* USER CODE END addons */

